<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <meta name="viewport" content="width=devicce-width, initial-scale=1.0">
    <link rel="stylesheet" src="/public/css/index.css" type="text/css">
    <title>Reentrega 05  Websocket y handlebars</title>
    <h1> --------------- Esta es mi Reentrega del Desafío de Websocket ---------------------</h1>
    <h2> ----  He agregado todas las funcionalidades del ProductManager: Listar Productos, Agregar Productos, Borrar Productos, Actualizar Productos--------</h2>
    <h2> ----  12/01/ 2024 --------</h2>
</head>
<body> 
    {{{body}}}
</body>
</html>
